@font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype'); } @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype') } @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 300; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype'); } .nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }

.topstacks2{
    --title-font: 'NanumBarunGothic';
    --font-color-light: #F2F8FF;
    --font-color-dark: #515C6A;
    --primary-color: #4A91F5;
    --secondary-color: #F2F8FF;
    --background-dark-color: #17193C;
    --accent-color: #32C1FF;
    --header-font-size: 3rem;
    --subheader-font-size: 1.1rem;
    --header-font-weight: 700;
    --subheader-font-weight: 300;
    --header-font-size-portrait: 2.5rem;
    --subheader-font-size-portrait: 2.2vh;
    --text-font-size: 1rem;
    overflow: hidden;
}

.topstacks2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--background-dark-color) , #1D3163);
    display: flex;
    align-items: center;
    font-family: var(--title-font);
}

.wrapper2{
    width: 92%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
}

.uppper_area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topstacks2 h1{
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
    letter-spacing: 2px;
    color: var(--secondary-color);
    margin: 0 10px 0 10px;
}

.header2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text2{
    font-size: var(--subheader-font-size);
    font-weight: var(--subheader-font-weight);
    color: var(--secondary-color);
    margin: 15px 0 0 0;
    letter-spacing: 1px;
}

.more2{
    font-size: 1rem;
    color: var(--accent-color);
    font-weight: 600;
    margin: 0 0 70px 0;
}

.more2 a{
    color: var(--accent-color);
}


.rankings{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gold, .silver, .bronze{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 0 20px;
}

.one, .two, .three {
    margin-bottom: 20px;
}

.gold_sample, .bronze_sample{
    position: absolute;
    transform: translate(-1px, 30px);
}
.silver_sample{
    position: absolute;
    transform: translate(-1px,45px);
}
.small_like{
    width: 17px;
}
.medium_like{
    width: 20px;
}
.large_like{
    width: 23px;
}
.likes{
    display: inline-block;
    transform: translateY(10px);
}
.silver_frame{
    z-index: 1;
}
.gold{
    transform: translateY(-30px);
}
.linebreak{
    display: none;
}


/*
media portrait
 */


@media only screen and (max-width: 820px) {
    .topstacks2 h1{
        font-size: 9vw;
    }
    .text2{
        font-size: 1rem;
    }
    .header2{
        flex-direction: column;
        margin: 0 0 0 0;
    }
    .rankings{
        display: none;
        /*width: 100%;*/
    }
}


